@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
  display: flex;
  justify-content: center;
}

.textarea-simple {
  border: solid 1px #5F5F5F;
  border-radius: 5px;
}


.sql-query-secion {
  width: 500px;
}

.translated-section{
  width:  500px;
}

.translated-result{
  overflow-wrap: break-word;
}